                 
<footer class="row page-footer" id="bottom">
        
                <div   class="col-sm coluBottom">
                  
                   <p class="bannerBottom ">Integrantes</p>
                    <p class="coreBottom">
                        A01653448 Axel Octavio Meinguer Estrada </p>
                    <p class="coreBottom">
                        A01338302 Juan Carlos Pichardo Vicencio </p>
                    <p class="coreBottom">
                        A01336685 Rafael Enrique Fierro Méndez</p>
                </div>
                <div   class="col-sm coluBottom">
                <p class="bannerBottom">Proyecto</p>
                <p class="coreBottom">Instituto Tecnologíco de Estudios Superiores de Monterey, ITESM CCM</p>
                <p class="coreBottom">Campus Ciudad de México</p>
                <p class="coreBottom">Desarrollo de aplicaciones web</p>
                </div>

</footer>