<title>Juegos de la edad</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/8b6003d953.js"></script>
    <script src="node_modules/chart.js/src/chart.js"></script>

<div id="center" class="row">  
                    <div       class="col-sm center2"> 
                <div   class="colD"> 


    <div class='container-fluid'>  
        
        <div class='col-12'>  
            <ngb-carousel>  
                <ng-template ngbSlide>  
                    <img src="../assets/KK00g1p.jpg" alt="Delhi Metro">  
                    <div class="carousel-caption">  
                        <p>Únete y juega con otras personas</p>
                        <p>Juega en nuestra comunidad, sólo necesitas registrate para jugar con otras personas  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../assets/KK00g2p.jpg" alt="Bangalore Metro">  
                    <div class="carousel-caption">  
                         <p>Fácil de jugar</p>
                         <p>Juego basado en turnos y por  salas</p>
 
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../assets/KK00g3p.jpg" alt="Channai Metro">  
                    <div class="carousel-caption">  
                        <p>Accesible desde cualquier dispositivo</p>
                        <p>Puede ser usado en Tablet, Celular y PC</p>
                    </div>  
                </ng-template>  
              
                  
            </ngb-carousel>  
        </div>  
      
    </div>  

  
                </div>
                    </div   >
</div>
