.screen{
	background-color: black;
	max-width: 100%;
		left: 0;
		padding: 0;
		margin-left: 0;
		height: 100vw;
		background-image: url('src/assets/568827-digital_art-night-town.jpg');
		background-size: 410%;
		background-repeat: no-repeat;
		background-position: 0 0;
}