
<!DOCTYPE html>
<html lang="es">

<meta charset="UTF-8">


	<title>Juegos de la edad</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap" rel="stylesheet">  
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="https://kit.fontawesome.com/8b6003d953.js"></script>
	<script src="node_modules/chart.js/src/chart.js"></script>
<body class = "background">
<div class="Fondo">

	


	<div class="banner col-12">
		<div class="titulo">
		Bienvenido Nombre Génerico
		</div>
	</div>
	<div class="medio col-12">
			<div class="juego col-12 col-sm-6 col-md-6">
				<p class="tit">Listo para empezar una nueva partida</p>			
				<div class="new">
					Codigo: 
				<form  class="input">
 				 <input type="text" name="fname" id="palabra">
				</form> 
				</div>
				<div>
				<a (click) = "toCreate()" class="brk-btn">Unirse a la partida</a>	
				</div>
				
				<div class="NuevaPartida">
					<a (click) = "toJoin()" class="brk-btn">Iniciar Nueva Partida</a>
					<span class="tooltiptext">Crea una partida para invitar tus amigos</span>
				
				</div>
				<br>
				<div class="NuevaPartida">
					<a (click) = "toPerfil()" class="brk-btn">revisar tu perfil</a>
				</div>

				

			</div>
			<div class="top col-12  col-sm-6 col-md-6 col-lg-6">

				<div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
</div>
				Mejores Puntuaciones
				<div class="saltoA"></div>
				<p>Mejor jugador del dia:</p>
				<p>El noob con 1 partidas ganadas </p>
				<div class="saltoA"></div>
				<p>Mejor jugador del mes:</p>
				<p>Rafa el hombre guapo con 3 partidas ganadas </p>
				<div class="saltoA"></div>
				<p>Mejor jugador del año:</p>
				<p>Yo con 5 partidas ganadas </p>
			</div>	
	</div>
</div>
</body>
</html>
